<footer>
    <div class="container">
        <div class="row">
            <p class="copyright">2015 &copy; OrderGroove Devs</p>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/site.min.css">
<link type="text/css" rel="stylesheet" href="https://rawgit.com/ordergroove/sculptorjs/master/dist/sculptor.css">
<script async src="https://rawgit.com/ordergroove/sculptorjs/master/dist/sculptor.min.js"></script>
<script async src="{{ site.baseurl }}/assets/scripts/site.min.js"></script>