<footer>
    <div class="container">
        <div class="row">
            <p class="copyright">2015 &copy; OrderGroove Devs</p>
        </div>
    </div>
</footer>
<link type="text/css" rel="stylesheet" href="https://rawgit.com/ordergroove/sculptorjs/master/dist/sculptor.css">
<script type="text/javascript" src="https://rawgit.com/ordergroove/sculptorjs/master/dist/sculptor.js"></script>
<link rel="stylesheet" href="/assets/styles/site.min.css">
<script async src="/assets/scripts/site.min.js"></script>