<header id="home">
    <div class="container">
        <div class="row">
            <div class="column column-6">
                <h1 class="logo">
                    <span>{{ site.title }}</span>
                    <img src="/assets/img/logo.png" alt="{{ site.title }}">
                </h1>
            </div>
            <div class="column column-6">
                <p class="description">
                    {{ site.description}}
                </p>
                <a class="button download-button"
                   href="https://github.com/ordergroove/sculptorjs/zipball/master">
                    <i class="icon-download-alt"></i>
                    Download
                </a>
            </div>
        </div>
    </div>
</header>