// layout variables
@spacing: 50px;

// color variables
@primary-color: #9C27B0;
@light-primary-color: #E1BEE7;
@dark-primary-color: #7B1FA2;
@text-color: #212121;
@secondary-text-color: #727272;
@light-text-color: #FFFFFF;
@accent-color: #9E9E9E;

// font variables
@shadow-font: 'Shadows Into Light', Helvetica, Arial, sans-serif;